body.state_game_title section#s_game_title,
body.state_question section#s_question {
  display: block;
}

.userbar-number,
.question_text,
.question_timer_number {
  font-family: "TeX Gyre Schola", "Century Schoolbook";
  font-weight: bold;
  margin: 0;
  padding: 0;
}