body.state_game_title section#s_game_title,
body.state_question section#s_question {
  display: block;
}

.question_text,
.question_timer_number {
  font-family: "TeX Gyre Schola", "Century Schoolbook";
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.question_titlebar {
  z-index: 64;
  position: absolute;
  background: #fff;
  color: #000;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  top: 9rem;
  left: 66rem;
  width: 60rem;
  height: 12rem;
  padding: 1rem;
  font-size: 4rem;
  line-height: 4rem;
  border-radius: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.question_titlebar span {
  display: inline-block;
}

.question_titlebar.shown {
  left: 1rem;
}

.question_titlebar.shown.minimized {
  top: -1rem;
  left: 1rem;
  width: 60rem;
  padding: 1.5rem 1rem 0.5rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  justify-content: left;
}

.question_body {
  width: 100%;
  height: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2.5rem;
  position: relative;
  top: -16rem;
  transition: top 0.5s ease-out;
}

.question_body.shown {
  top: 0;
}

.question_text {
  width: 48rem;
  height: 11rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 150%;
  border-radius: 1rem;
  background: #fff;
  color: #000;
  font-weight: 400;
}

.question_timer {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.question_timer_label {
  font-size: 2rem;
  line-height: 2rem;
}

.question_timer_number {
  font-size: 7rem;
  line-height: 6rem;
}

.question_options {
  width: 44rem;
  height: 16rem;
  position: absolute;
  right: 0.5rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.question_options .question_option_bg {
  left: 45rem;
  opacity: 1;
  height: 4rem;
  flex-basis: 3rem;
  flex-grow: 1;
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transition-property: flex-basis, left;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.question_option_bg:nth-child(2) {
  transition-property: left;
  transition-delay: 0.1s;
}

.question_option_bg:nth-child(3) {
  transition-property: left;
  transition-delay: 0.2s;
}

.question_option_bg:nth-child(4) {
  transition-property: left;
  transition-delay: 0.3s;
}

.question_options.shown .question_option_bg {
  left: 0;
  transition-property: all;
  transition-duration: 0.2s;
}

.question_options.shown.revealed .question_option_bg {
  transition: all 0.2s ease-out;
}

.question_options .delete {
  position: absolute;
  left: 0rem;
  top: 0.5rem;
}

.question_options .button {
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 1.75rem;
  position: relative;
  transition: all 0.2s ease-out;
}

.question_option_bg.highlighted .button {
  filter: contrast(120%) brightness(140%);
}

.question_option_bg.incorrect {
  animation-name: option-wrong-bg;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.question_option_bg.incorrect .button {
  animation-name: option-wrong;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.question_options.shown.revealed .question_option_bg {
  height: 0;
  flex-basis: 0;
}

.question_options.shown.revealed .delete {
  display: none;
}

.question_options.shown.revealed .question_option_bg.correct {
  flex-basis: 16rem;
  background: transparent;
  left: -9.5rem;
  transform: rotate(-2deg);
}

.question_options.shown.revealed .question_option_bg.correct .button {
  text-align: center;
  margin: 5rem 0;
  padding: 0.5rem 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.question_options.shown.revealed .question_option_bg.correct .button .key {
  width: 0;
  height: 0;
  overflow: hidden;
}

@keyframes option-wrong {
  from {
    left: 0rem;
    transition: left ease-out;
  }

  25% {
    left: 4rem;
    transition: left linear;
  }

  40% {
    left: 4rem;
    transition: left ease-in;
  }

  50% {
    left: -8rem;
    transition: left ease-out;
  }

  100% {
    left: -48rem;
  }
}

@keyframes option-wrong-bg {
  from {
    opacity: 1;
  }

  40% {
    opacity: 1;
    transition: opacity linear;
  }

  100% {
    opacity: 0;
  }
}

@keyframes anim_rotate {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(180deg);
  }
}