#splash_screen.gone {
  -webkit-animation: hide_splash_screen 1s linear;
  animation: hide_splash_screen 1s linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

body.state_title section#s_title,
body.state_signup section#s_signup,
body.state_game_title section#s_game_title,
body.state_ingame section#s_ingame,
body.state_episode_list section#s_episode_list {
  opacity: 1;
}

section#s_title>.section-bg {
  background-image: url("https://wallpapershome.com/images/wallpapers/lines-1920x1080-pink-purple-abstract-hd-15571.jpg");
  -webkit-filter: blur(2px) hue-rotate(-120deg) saturate(30%);
  filter: blur(2px) hue-rotate(-120deg) saturate(30%);
}

section#s_signup>.section-bg {
  -webkit-filter: saturate(10%) contrast(80%) brightness(50%);
  filter: saturate(10%) contrast(80%) brightness(50%);
}



#signup_box {
  display: table;
  width: 64rem;
  height: 32rem;
  text-align: center;
  border-spacing: 0.5rem;
}

.signup_row {
  display: table-row;
  height: 15rem;
}

.signup {
  background: rgba(0, 0, 0, 0.5);
  display: table-cell;
  padding: 0.5rem;
  vertical-align: top;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

body.state_signup .signup.on {
  background-color: rgba(64, 192, 96, 0.5);
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.signup_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.signup_empty,
.signup_full {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  overflow: hidden;
  -webkit-transition: height 500ms ease-out;
  transition: height 500ms ease-out;
  height: 14rem;
}

body.state_signup .signup.on .signup_empty,
.signup_full {
  height: 0rem;
  -webkit-transition: height 500ms ease-out;
  transition: height 500ms ease-out;
}

body.state_signup .signup.on .signup_full {
  height: 14rem;
  -webkit-transition: height 500ms ease-out;
  transition: height 500ms ease-out;
}

#episode_carousel {
  position: absolute;
  overflow: scroll;
  left: 24rem;
  width: 34rem;
  height: 32rem;
  background: black;
  font-size: 2rem;
  padding: 0;
}

#episode_carousel>div {
  position: relative;
  left: 0;
  display: block;
  padding: 0 1rem;
  width: 30rem;
  margin: 0.5rem 0.5 0.5rem 1.5rem;
  background: green;
  border-radius: 0.5rem;
  transition: left 0.1s linear, background 0.3s linear;
}

#episode_carousel>div>.marker {
  display: inline-block;
  width: 1.5rem;
  text-align: right;
  padding-right: 0.5rem;
}

#episode_carousel>div>.marker::after {
  content: ". ";
}

#episode_carousel>div.sel {
  background: crimson;
  left: -1rem;
}



@keyframes anim_salty {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform: scale(1.5, 1.5) rotate(-30deg);
    transform: scale(1.5, 1.5) rotate(-30deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}