#setting_box {
  position: absolute;
  left: 8rem;
  width: 48rem;
  height: 32rem;
  display: scroll;
  overflow: hidden;
}

.setting_item {
  box-sizing: border-box;
  width: 48rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}

.setting_item.sel {
  background: rgba(0, 0, 0, 0.5);
}

.setting_item_label {
  font-family: Orelega;
  font-size: 2rem;
  line-height: 2rem;
}

.setting_slider_box {
  position: relative;
  width: 47rem;
  height: 3rem;
}

.setting_slider_base {
  position: absolute;
  background: green;
  width: 41rem;
  height: 1rem;
  bottom: 1rem;
  left: 0rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.setting_slider_value {
  position: absolute;
  width: 5.5rem;
  height: 3rem;
  right: 0rem;
  bottom: 0rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: right;
  font-weight: bold;
}

.setting_slider_highlight {
  position: absolute;
  width: 41rem;
  height: 1rem;
  margin-left: -40.5rem;
  background: pink;
  left: 40rem;
}

.setting_slider_knob {
  position: absolute;
  width: 1rem;
  height: 3rem;
  left: 40rem;
  bottom: 0rem;
  border-radius: 0.25rem;
  background: white;
}

.setting_option {
  font-size: 1.5rem;
  line-height: 3rem;
  height: 3rem;
  display: inline-block;
  background: green;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.setting_option.sel {
  color: black;
  background: pink;
}

body.state_setting #s_setting {
  display: block;
  opacity: 1;
}