/* Chrome hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Firefox hide scrollbar */
* {
  scrollbar-width: none;
}

@font-face {
  font-family: "_Icons";
  src: url('icons.woff2');
  font-weight: normal;
}

@font-face {
  font-family: "_Mikado";
  font-weight: bold;
  font-display: swap;
  src:
    local("Mikado Bold"), local("Mikado-Bold"),
    url('https://cors-anywhere.herokuapp.com/https://github.com/devthiagolino/farofa-freela-uber/blob/master/font/Mikado-Bold.otf?raw=true') format('otf'),
    url('https://cors-anywhere.herokuapp.com/https://github.com/Threstle/cher-ami/blob/master/font/mikado/hvd_fonts_-_mikadobold-webfont.woff2?raw=true') format('woff2');
}

@font-face {
  font-family: "_Mikado";
  font-weight: normal;
  font-display: swap;
  src:
    local("Mikado"), local("Mikado Regular"), local("Mikado-Regular"),
    url('https://cors-anywhere.herokuapp.com/https://github.com/devthiagolino/farofa-freela-uber/blob/master/font/Mikado-Regular.otf?raw=true') format('otf'),
    url('https://cors-anywhere.herokuapp.com/https://github.com/Threstle/cher-ami/blob/master/font/mikado/hvd_fonts_-_mikadolight-webfont.woff2?raw=true') format('woff2');
}

@font-face {
  font-family: "_Poppins";
  font-weight: normal;
  font-display: swap;
  src:
    url('../resource/Poppins-Regular-Extended.woff2') format('woff2');
}
@font-face {
  font-family: "_Poppins";
  font-weight: bold;
  font-display: swap;
  src:
    url('../resource/Poppins-Bold-Extended.woff2') format('woff2');
}
/*
@font-face {
  font-family: "_Orelega";
  font-weight: regular;
  font-display: swap;
  src:
    url('https://github.com/JapanYoshi/Orelega/blob/master/woff2/Orelega-Regular.woff2?raw=true') format('woff2'),
    url('https://cors-anywhere.herokuapp.com/https://github.com/JapanYoshi/Orelega/blob/master/woff2/Orelega-Regular.woff2?raw=true') format('woff2');
}*/

@font-face {
  font-family: "_Orelega";
  font-weight: bold;
  font-display: swap;
  src:
    url('../tidbit/Orelega-Bold.woff2') format('woff2'),
    url('https://cors-anywhere.herokuapp.com/https://github.com/JapanYoshi/Orelega/blob/master/woff2/Orelega-Bold.woff2?raw=true') format('woff2');
}

html {
  font-size: calc(100vw / 64);
  /* screen will be 64rem x 36rem*/
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#splash_screen.gone,
#splash_screen_2.gone {
  -webkit-animation: hide_splash_screen 1s linear;
  animation: hide_splash_screen 1s linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

body,
p {
  font-family: "_Poppins", "Poppins", "TeX Gyre Adventor", "Century Gothic", sans-serif;
  font-weight: 400;
}

body {
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  overflow: hidden;
}

p {
  font-size: 1.2rem;
}

#screen {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 64rem;
  height: 36rem;
  overflow: hidden;
  filter: blur(0) brightness(1);
  transition: filter 0.5s linear;
}

#modal.active + #screen,
#gamepad_config.shown + #modal + #screen {
  filter: blur(0.5rem);
}

#gamepad_config.shown + #modal {
  opacity: 0;
}

section {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 64rem;
  height: 36rem;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  /* disables clicking or selecting everything, except the elemnets I explicitly enable it for */
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-aspect-ratio: 16/9) {
  html {
    font-size: calc(100vh / 36);
    /* screen will be 64rem x 36rem */
  }

  section {
    margin: 0 auto;
  }
}

.section_bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data/bg0.png");
  background-size: cover;
  -webkit-animation: breathe 3s linear 0s infinite alternate;
  animation: breathe 3s linear 0s infinite alternate;
  -webkit-filter: hue-rotate(-100deg) saturate(30%) contrast(80%) brightness(80%);
  filter: hue-rotate(-100deg) saturate(30%) contrast(80%) brightness(80%);
}

.section_content {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.section_content > div {
  position: relative;
  width: 100%;
  height: 100%;
  /* to enable position:absolute; on contents */
}

h1,
h2,
h3,
#title_trivia,
.question,
.section_title,
.title {
  margin: 0;
  padding: 0;
  font-family: "_Orelega", "Orelega", "Sagona", "TeX Gyre Schola", "Century Schoolbook";
  font-weight: bold;
}

input {
  pointer-events: inherit;
  font-family: inherit;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 0.5rem;
  padding: 0;
}

.button,
#episode_carousel > div {
  /* green bg gradient */
  background-color: #348041;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5aa945), to(#348041));
  background-image: linear-gradient(to bottom, #5aa945 0%, #348041 100%);
}

.button {
  display: block;
  text-align: left;
  padding: 0.2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  pointer-events: initial;
}

.button+.button {
  margin-top: 0.5rem;
}

/* red bg gradient */
.button.sel,
.signup_full .button,
#episode_carousel > div.sel {
  background-color: #80345c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc56a2), to(#80345c));
  background-image: linear-gradient(to bottom, #bc56a2 0%, #80345c 100%);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff90d6), to(#fb4777));
  background: linear-gradient(to bottom, #ff90d6 0%, #fb4777 100%);
}

.key {
  display: inline-block;
  background: black;
  text-align: center;
  font-weight: 700;
  width: 2rem;
  height: 2rem;
  border-radius: 25%;
  line-height: 2rem;
}

.key.numpad {
  font-size: 1rem;
}

.key.numpad::before {
  content: "#";
  font-size: 75%;
}

.button>.key {
  float: left;
  margin: 0 0.25rem 0.25rem 0;
}

h1 {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

#title_salty,
section.candy>.section_content {
  font-family: "_Mikado", "Mikado", "Tobi Greek Cyrillic", sans-serif;
  font-weight: bold;
}

.icon {
  font-family: "_Icons";
  font-weight: normal;
}

#title_box {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 4rem;
  text-align: center;
  -webkit-filter: drop-shadow(0.1rem 0rem #000) drop-shadow(0rem 0.1rem #000) drop-shadow(-0.1rem 0rem #000) drop-shadow(0rem -0.1rem #000);
  filter: drop-shadow(0.1rem 0rem #000) drop-shadow(0rem 0.1rem #000) drop-shadow(-0.1rem 0rem #000) drop-shadow(0rem -0.1rem #000);
}

#title_salty {
  position: relative;
  left: -7rem;
  top: 4rem;
  z-index: 15;
  transform: rotate(-15deg) translate(-0.25rem, -0.25rem);
}

#title_salty span {
  background: linear-gradient(to bottom, #ff90d6 25%, #fb4777 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  line-height: 5rem;
  margin: 0;
  font-weight: bold;
  font-size: 4rem;
}

#title_trivia {
  position: relative;
  line-height: 8rem;
  font-weight: bold;
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #82f420), color-stop(75%, #08ac33));
  background: linear-gradient(to bottom, #82f420 25%, #08ac33 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#title_dropcap {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #82f420), color-stop(75%, #08ac33));
  background: linear-gradient(to bottom, #82f420 25%, #08ac33 75%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  -webkit-transform: rotate(-15deg) translate(0%, 25%);
  transform: rotate(-15deg) translate(0%, 25%);
}

#title_subtitle {
  width: 100%;
  margin-top: -2.2rem;
  padding-left: 9rem;
  position: relative;
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  -webkit-transform: translate(5rem, 0);
  transform: translate(5rem, 0);
}

#title_option_box {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 5%;
}

#modal, #typing_modal {
  opacity: 0;
  position: fixed;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-animation: hide 700ms ease-out forwards;
  animation: hide 700ms ease-out forwards;
  overflow: auto;
}

#modal.active, #typing_modal.active {
  /* these properties... */
  display: block;
  opacity: 1;
  /* are managed by this animation */
  -webkit-animation: show 700ms ease-out 0s;
  animation: show 700ms ease-out 0s;
}

.scroll_tip {
  position: absolute;
  top: calc(50vh - 18rem);
  width: 100vw;
  opacity: 0;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

#modal.overflowing .scroll_tip {
  opacity: 1;
}

.modal_box {
  width: 48rem;
  max-height: 32rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
}

.modal_content {
  padding: 1rem;
}

#modal .modal_img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 18rem;
  width: auto;
}

.floating_back_button,
.floating_func_button {
  width: 10rem;
  height: 2rem;
  position: absolute;
  top: 0;
  margin-top: 0.5rem;
}

.floating_back_button {
  left: 0;
  margin-left: 0.5rem;
}

.floating_func_button {
  right: 0;
  margin-right: 0.5rem;
}

.section_title {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  width: 24rem;
  height: 4rem;
  margin: 0 auto;
}

@keyframes breathe {
  0% {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

@keyframes show {
  0% {
    height: 100vh;
    opacity: 0;
  }

  to {
    height: 100vh;
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  99% {
    height: 100vh;
    opacity: 0;
  }

  to {
    height: 0vh;
    opacity: 1;
  }
}

@keyframes hide_splash_screen {
  0% {
    display: fixed;
    opacity: 1;
    -webkit-backdrop-filter: blur(0rem);
    backdrop-filter: blur(0rem);
  }

  99.9% {
    display: fixed;
  }

  to {
    display: none;
    opacity: 0;
    -webkit-backdrop-filter: blur(4rem);
    backdrop-filter: blur(4rem);
  }
}

/**
 * virtual keypad
 * assume vertical phone orientation by default
 */
#vk_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#vk_button,
.vk_key {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
}

#vk_button.active {
  position: absolute;
  z-index: 1025;
  display: block;
  opacity: 1;
  left: 50vw;
  top: 0;
  transform: translate(-50%, 0);
}
#gamepad_config.vk_is_active.shown,
#modal.vk_is_active,
#screen.vk_is_active {
  left: 50vw;
  top: 0;
  max-height: 36rem;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#modal.vk_is_active .scroll_tip {
  top: 0;
}
#vk_container.active .vk_key {
  z-index: 1025;
  display: block;
  opacity: 1;
}
#vk {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  max-height: 36rem;
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}
.vk_key {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  user-select: none; /* no prefix */

  position: relative;
  width: 30vw;
  margin: 0 0.25vw 0.5vw;
  height: 24vh;
  max-height: 17.5rem;
  border-radius: 2.25vw;
  background: rgba(0, 0, 0, 0.1);
  font-family: _Icons;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border: 0.05rem solid rgba(255, 255, 255, 0.3);
  flex: 1 1 auto;
}
.vk_key:active {
  background: rgba(255, 255, 255, 0.3);
  border: 0.05rem solid rgba(255, 255, 255, 0.5);
}
.vk_key > span {
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#vk_6 {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  top: 0;
  right: 0;
  font-family: Poppins;
}
#vk_6 > span {
  font-size: 3rem;
}
@media (min-aspect-ratio: 16/9) {
  /* horizontal hold */
  #gamepad_config.vk_is_active.shown,
  #modal.vk_is_active,
  #screen.vk_is_active {
    left: 0;
    top: 50vh;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  #vk {
    width: 50vh;
    height: 100vh;
  }
  .vk_key {
    width: 24vh;
    margin: 0 0.4vh 0.4vh 0;
    height: 24vh;
    border-radius: 4vh;
  }
  #vk_0 { order: 1; }
  #vk_1 { order: 2; }
  #vk_2 { order: 1; }
  #vk_3 { order: 3; }
  #vk_4 { order: 4; }
  #vk_5 { order: 3; }
  #vk_1, #vk_4 { margin: 0 25%; }
  #vk_6 {
    width: 5.625vh;
    height: 5.625vh;
    right: 50vh;
  }
}