#typing_positioner {
  width: 64rem;
  height: 36rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  scroll-behavior: smooth;
  background-image: url("https://cdn.discordapp.com/attachments/341325571214802954/636348668953362434/salty_trivia_mondegreen_2.png");
  background-size: 100%;
  z-index: 1280;
}
#typing_modal.active {
  /* these properties... */
  display: block;
  opacity: 1;
  /* are managed by this animation */
  -webkit-animation: show 700ms ease-out 0s;
  animation: show 700ms ease-out 0s;
}

#typing_preview {
  position: absolute;
  top: 12rem;
  left: 2rem;
  width: 47.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: var(--gr-red);
  pointer-events: unset;
}

#typing_textbox {
  position: relative;
  width: 47.5rem;
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

#typing_indicator {
  position: absolute;
  display: block;
  width: 24rem;
  height: 13.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: 16rem;
  left: 0.5rem;
  background: var(--gr-red);
}