#userbar {
    font-size: 1rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 64rem;
    height: 4rem;
    background: #000;
    bottom: 0;
    z-index: 64;
}

.userbar-player {
    width: 7.75rem;
    height: 3.75rem;
    position: relative;
    align-self: flex-end;
    background: #888;
    border-radius: 0.5rem;
}

.userbar-row {
    display: block;
    width: 100%;
    clear: both;
}

.userbar-number {
    font-family: "Orelega";
    float: left;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid #888;
    background: #fff;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: -0.5rem;
    color: black;
}

.userbar-score,
.userbar-skip,
.userbar-choices,
.userbar-screw {
    display: none;
}

.userbar-state-score .userbar-score,
.userbar-state-skip .userbar-skip {
    display: block;
    float: right;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.userbar-screw {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1.75rem;
    top: -1rem;
    filter: drop-shadow(0 0.2rem 0.1rem rgba(0, 0, 0, 0.5));
}

.userbar-screw-image {
    width: 100%;
    height: 100%;
    background-image: url("//japanyoshi.github.io/salty/data/lifesaver.svg");
    background-size: contain;
    animation: anim_rotate 10s linear 0s infinite normal;
}

.screw-used .userbar-screw {
    opacity: 0.2;
}

.screw-used .userbar-screw-image {
    filter: saturate(0%);
    animation: none;
}

.userbar-skip.sel {
    color: #444;
}

.userbar-state-choices .userbar-choices {
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -0.75rem;
}

.userbar-choice-row {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userbar-choice {
    width: 0.9rem;
    height: 0.9rem;
    background: #444;
    border: 0.05rem solid #888;
    border-radius: 0.25rem;
}

.userbar-choice.sel {
    background: #fff;
}

.userbar-choice.disabled {
    background-image: url(https://cdn.discordapp.com/emojis/636381332985085983.png?v=1);
    background-size: contain;
}

.userbar-name {
    width: calc(100% - 1rem);
    padding: 0 0.5rem;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "..";
}

.userbar-player.answered {
    transform: translate(0, 1rem);
    opacity: 0.5;
}

.userbar-player.correct {
    background: #5a5;
}

.userbar-player.incorrect {
    background: #a55;
    transform: rotate(-10deg) translate(0, 1.5rem);
    transition: transform 0.1s ease-in 0.4s, background 0s;
}