#lang-toggle {
    clear: both;
    width: 100%;
    line-height: 30px;
}

#lang-toggle > ul {
    margin: 0 0 4px;
    padding: 0;
}

#lang-toggle > ul > li {
    display: inline-block;
    margin: 0 8px;
}

#lang-toggle > ul > li > a {
    padding: 4px;
    background: var(--aqua-light);
    border: 1px var(--aqua-dark) solid;
    color: var(--black);
    border-radius: 4px;
}

#lang-toggle > ul > li > a:hover {
    background: var(--white);
    border-color: var(--aqua-light);
    color: var(--aqua-dark);
    text-shadow: none;
}