@font-face {
    font-family: "_LostAndForelorn";
    font-weight: normal;
    src: url("tmp2.woff");
}

html {
}

body {
    margin: 0;
    padding: 0;
    font-family: "IM Fell English PRO", "IM Fell English", "Garamond";
    background-image: url(https://jackbox.tv/images/f49186ead9e73151efe35610584cb204.png);
    background-size: cover;
    color: white;
}

#header {
    padding-top: 8px;
    padding-bottom: 8px;
    background: black;
    overflow: hidden;
}

#wordcount {
    display: block;
    background: white;
    color: black;
    margin-bottom: 16px;
    text-align: center;
    padding: 8px;
    font-family: "_LostAndForelorn";
    font-size: 1rem;
}

.section {
    max-width: 500px;
    margin: 0 auto;
    background: black;
    color: white;
    border-radius: 6px;
    margin-bottom: 4px;
    padding: 8px;
}

h3 {
    font-family: "_LostAndForelorn";
    font-weight: normal;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

#subtitle {
    display: block;
    margin: -16px auto 4px;
    color: #d32;
    text-align: center;
    transform: scale(2) rotate(-5deg);
    font-family: "_LostAndForelorn";
    text-shadow: 0 0 2px black;
}

input, button {
    background: inherit;
    color: inherit;
    font-family: "_LostAndForelorn";
    border: none;
    border-radius: 5px;
}

input#pw {
    display: block;
    margin: 0 auto;
    width: 6rem;
    font-size: 2rem;
    text-align: left;
    border: 4px solid #d32;
    padding: 0 1rem;
}

input#count {
    font-size: 1.5rem;
    border: 4px solid #d32;
}

button {
    font-size: 1.5rem;
    background: rgba(255,255,255,0.2);
}

button:active {
    background: #fff;
    color: #000;
}

.center {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    
}

#pw_valid {
    padding: 4px;
}

#pw_valid.invalid {
    background: red;
}

#pw_valid.valid {
    background: green;
}

#pw_gen {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#pw_gen > span {
    flex-basis: 25%;
}